<div class="container">
  <img class="banner" src="{{product.bannerPath}}" alt="{{product.bannerDescription}}" />

  <div class="content">
    <div class="cover">
      <img src="{{product.imagePath}}" alt="{{product.imageDescription}}" />
    </div>
    <div class="details">
      <div class="title">{{product.title}}</div>
      <div class="description">{{product.resume}}</div>
      <div class="price">{{product.price}}</div>
      <button class="button">Ajouter au panier</button>
    </div>
  </div>
</div>
